/***************** Tag Selector *************/

body {
  background-color: #f0e4ea;
}


hr {
  background-color: none;
  border-style: dotted none none;
  height: none;
  width: 5%;
}

h1 {
  color: blue;
}

h3 {
  color: #66BFBF;
}

/************ Class Selector for the whole class, multiple uses*********/
.navbar {
  color: black;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbartext {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

.navbartext{
  display: inline;
}


/************ id Selector for a single use **********/
